[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git://github.com/taq/vim-rspec.git
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = git://github.com/tpope/vim-rvm.git
[submodule "bundle/slim"]
	path = bundle/slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
